<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ShortCutKey1" value="Shift" />
		<add key="ShortCutKey1_code" value="160" />
		<add key="ShortCutKey2" value="F12" />
		<add key="ShortCutKey2_code" value="123" />
		<add key="ShortCutKey3" value="a" />
		<add key="ShortCutKey3_code" value="1" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>